- cache [current_language, page.uri, short_date(page.updated_at)] do
  %tr
    %td.owner.hidden-xs
      = link_to_entity(page.owner, avatar: :xsmall)
    %td.page_icon
      = page_icon(page)
    %td.title
      = cell_title(page)
    %td.public_private
      = icon_tag('globe', title: I18n.t(:page_is_public) ) if page.public
    %td.updated_by
      = link_to_entity(page.updated_by, avatar: :xsmall)
    %td.nowrap.updated_at
      = friendly_date(page.updated_at)
    %td.contributors.hidden-xs
      = page.contributors_count
  -# we hide the details for now with .shy
  -# TODO: bring them back in a good looking non cluttered way.
  -# %tr.lower.shy
  -#   %td{colspan:4}
  -#     = page.summary.try(:truncate, 75)
  -#   %td.owner.icon.title.updated_by.updated_at
  -#     - # This is a little hack.
  -#     - # If any of the first upper five colums is hidden this one should be too.
  -#     - # This way the last column still fits in nicely.
