-
- forced_send     = false if forced_send.nil?
- send_notice     = false if send_notice.nil?
- include_message = false if include_message.nil?
- send_email      = false if send_email.nil?
- #include_email_option = (@current_site && @current_site.never_pester_users) ? false : true
- include_email_option = true
- check_box_options = {checked: send_notice, onclick: "checkboxToggle(this, 'notification_details');" + resize_modal}
- if forced_send
  - check_box_options.merge!({checked: true, disabled: true})
  - send_notice = true

.checkbox
  %label
    = check_box :notification, :send_notice, check_box_options
    = :share_send_notification.t

-# don't include the rest at all if sharing emails is disabled
- style = send_notice ? '' : 'display:none'
#notification_details{style: style}
  - if include_email_option
    .checkbox
      %label
        = check_box :notification, :send_email, checked: send_email
        = :send_email.t
    - if Conf.paranoid_emails?
      = :share_include_paranoid_message.t
    - else
      = :share_include_message.t
    #share_message_holder
      = text_area(:notification, :send_message, rows: 6, class: 'form-control')

