%div#page_sidebar
  - if logged_in?
    - if @page.deleted?
      %ul.side_list
        = undelete_line
        = destroy_line
        = details_line
        =# history_line
    - else
      %ul.side_list
        - if (lines = [watch_line, star_line].compact).any?
          - prior = true
          - lines.each do |line|
            = line
        - if (lines = [public_line, share_line, notify_line].compact).any?
          - if prior
            %hr
          - prior = true
          - lines.each do |line|
            = line
        - if (lines = [delete_line, details_line].compact).any?
          - if prior
            %hr
          - lines.each do |line|
            = line
    =# call_hook :page_sidebar_actions

  -#
  -# TAGS
  -#
  - if @page.tags.any? || may_update?(@page)
    .h3= I18n.t(:tags)
    %div.tags
      = page_tags
    %ul.list-unstyled
      = edit_tags_line

  -#
  -# ATTACHMENTS
  -#
  - if @page.supports_attachments and !(attachment_content = page_attachments).nil?
    %section#attachments
      .h3= I18n.t(:attachments)
      .attachments
        = attachment_content
      %ul.list-unstyled
        = edit_attachments_line

  -#
  -# CONTRIBUTOR LIST
  -#
  - if @page.group_participations.any? or @page.user_participations.any?
    %section#contributors
      - if @page.group_participations.any?
        .h3= I18n.t(:groups)
        %ul#groups.names
          - @page.sorted_group_participations.each do |participation|
            %li
              = link_to_group_participation(participation)
      - if @page.user_participations.any?
        .h3= I18n.t(:people)
        %ul#people.names
          - @page.sorted_user_participations.limit(31).each do |participation|
            %li
              = link_to_user_participation(participation)

-# %section#attachments
-#   %h4 attachments
-#   %ul
-#     %li
-#       %a{href: "#"}
-#         %img{src:"/images/new_ui/image-32sq.png", alt:" ", height:"32px", width:"32px"}
-#         %img{src:"/images/new_ui/image-198sq.png", alt:" ", height:"10px", width:"10px"}
-#         %span filenamelongish.png
-#     %li
-#       %a{href: "#"}
-#         %img{src:"/images/new_ui/image-32sq.png", alt:" ", height:"32px", width:"32px"}
-#         %img{src:"/images/new_ui/image-198sq.png", alt:" ", height:"10px", width:"10px"}
-#         %span shorterone.png


