- if @group.network?
  = I18n.t(:network_invite_info)
- else
  = I18n.t(:invite_info, group_type: t(@group.group_type.downcase))

%p
  %em= I18n.t(:recipient_tip)

- text_area = text_area_tag 'recipients', params[:recipients], rows: 4, class: 'form-control'
- send_button = submit_tag(:send_invites.t(name: 'send'), class: 'btn btn-primary')

= form_tag(group_invite_path(@group), method: :post) do
  = formy(:simple_form) do |f|
    - f.row do |r|
      - r.label :recipients.t, 'recipients'
      - r.input text_area
    - f.buttons do |b|
      - b.button send_button

-# :message.t
-# text_area_tag 'message', params[:message], rows: 2, cols: 50
